@font-face {
font-family: 'star wars';
/* font-style: normal; */
font-weight: normal;
src: local('star wars'), url('STARWARS.woff') format('woff');
}

h1 {
	font-family: 'star wars';
	text-transform: uppercase;
  	/* -webkit-text-stroke: 0.5px yellow; */
}

